<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Portfolio Page</title>
</head>
<body style="background: #00171F; color: #FFFFFF; text-align: center; font-family: 'Open Sans', sans-serif">
<div style="border: 1px solid #003459; border-radius: 8px">
    <h1>My Portfolio</h1>
    <br/>
    <div>
        <h1 style="color: #00A8E8">Projects</h1>
    </div>
    <div>
        <ul>
            <li><a href="#">www.example.com</a></li>
            <li><a href="#">www.test.com</a></li>
            <li><a href="#">www.dummy.com</a></li>
        </ul>
        <ul>
            <li><a href="#">www.static.com</a></li>
            <li><a href="#">www.hello.com</a></li>
            <li><a href="#">www.mime.com</a></li>
        </ul>
        <ul>
            <li><a href="#">www.white-wolf.com</a></li>
            <li><a href="#">www.config.com</a></li>
            <li><a href="http://localhost:8080/resume">www.resume.com</a></li>
        </ul>
    </div>
    <h1>Languages</h1>
    <p>HTML5; XHTML; CSS3; JavaScript; jQuery; PHP; SQL; Bootstrap; .NET; ActionScript; Adobe Creative Cloud; WordPress;
        Google Analytics; AJAX; CMS Tools; ColdFusion; Windows; Mac; iOS; Android</p>
</div>
</body>
</html>