<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Guess The Number</title>
</head>
<body style="text-align: center; background: gray; color: firebrick">
<h1>Guess the dice roll between 1 - 6</h1>
<br />
<ul>
    <li style="background: blanchedalmond; font-size: large; border: 1px solid firebrick"><a href="http://localhost:8080//roll-dice/1">Number 1</a></li>
    <br />
    <li style="background: blanchedalmond; font-size: large; border: 1px solid firebrick"><a href="http://localhost:8080//roll-dice/2">Number 2</a></li>
    <br />
    <li style="background: blanchedalmond; font-size: large; border: 1px solid firebrick"><a href="http://localhost:8080//roll-dice/3">Number 3</a></li>
    <br />
    <li style="background: blanchedalmond; font-size: large; border: 1px solid firebrick"><a href="http://localhost:8080//roll-dice/4">Number 4</a></li>
    <br />
    <li style="background: blanchedalmond; font-size: large; border: 1px solid firebrick"><a href="http://localhost:8080//roll-dice/5">Number 5</a></li>
    <br />
    <li style="background: blanchedalmond; font-size: large; border: 1px solid firebrick"><a href="http://localhost:8080//roll-dice/6">Number 6</a></li>
</ul>
</body>
</html>